<!DOCTYPE html>
<html>
  <head>
    <title>StgMuscleCars435</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
       <%= link_to "SGMC435", static_pages_home_path, id: "logo" %>
       <nav>
         <ul class="nav navbar-nav navbar-right">
           <li><%= link_to "Showroom", cars_path %></li>
           <li><%= link_to "About", static_pages_about_path %></li>
           <li><%= link_to "Contact", static_pages_contact_path %></li>
         </ul>
       </nav>
     </div>
   </header>
   <div class="container">
     <% if notice.present? %>
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
      <% end %>
    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
      <% end %>
    <%= yield %>
    <footer class="footer">
  <small>
    &copy; 2018 St. George Muscle Cars 435
  </small>
  <nav>
    <ul>
      <li><a target="_blank" href="https://www.amazon.com/s/ref=nb_sb_ss_i_4_15/133-7670553-5184916?url=search-alias%3Daps&field-keywords=diecast+muscle+cars+1+18+scale&sprefix=diecast+muscle+%2Caps%2C175&crid=2CIN78KN0NER7">News</a></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
  </nav>
</footer>
  </div>
</body>
</html>
